<h4><a href="#!/">Logout</a></h4>
<h2>Doctor's Appointments</h2>

<div>
  Search: <input type="text" ng-model="search"/>
  <table class="table table-bordered">
    <tr>
      <th>
        Date
      </th>
      <th>
       Time
      </th>
      <th>
        Patient Name
      </th>
      <th>
        Complain
      </th>
    </tr>

    <tr ng-repeat="appointment in appointments | orderBy: 'date' | filter:search ">
      <td>
        {{appointment.date | date: "MM/dd/yyyy"}}
      </td>
      <td>
        {{appointment.time | date: "hh:mm:a"}}</a>
      </td>
      <td>
        {{appointment._user.name}}
      </td>
      <td>
        {{appointment.complain}} <span ng-if="user._id === appointment._user._id"><button ng-click="delete(appointment._id)">Cancel</button></span>
      </td>
    </tr>
  </table>
<h4><a href="#!/new_appointment">Add new Appointment</a>
